* {
    box-sizing: border-box;
    text-wrap: pretty;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    overflow: hidden;
    font-family: 'Amiri', serif;
    color: white;
    background-color: var(--md-sys-color-surface);
    position: relative;
    background: 
    black
}

.col {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

header {
    padding: 1em 0;
}

#cards {
    height: auto;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    padding: 1em;
    overflow-y: auto;
    gap: 1em;
}

.card {
    background-color: rgb(23 29 27 / 91%);
    width: 95%;
    align-items: center;
    border-radius: 16px;
    height: max-content;
    border: 1px solid var(--md-sys-color-outline);
    backdrop-filter: blur(2px);
}

.title {
    position: relative;
    font-size: 0.8em;
    width: 100%;
    background-position: center;
    height: 12em;
    justify-content: flex-end;
    padding: 1em;
    color: white;
    overflow: hidden;
    border-radius: 16px;
    background-image: linear-gradient(to top, var(--md-sys-color-surface-container-low), transparent),
        url('images/photos/background.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.details {
    align-items: center;
    padding: 1em;
    gap: 1em;
    width: 100%;
    justify-content: space-between;
    height: max-content;
}

.title-lesson {
    font-size: 2em;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.title-lecturer {
    opacity: 0.8;
}

.description {
    gap: 0.5em;

}

.desc-days {
    display: flex;
    gap: 0.3em;
    flex-wrap: wrap;
}

.chip {
    width: fit-content;
    padding: 3px 7px;
    border-radius: 10px;
}

.day-chip {
    font-size: 0.5em;
    background-color: var(--md-sys-color-primary-container);
    color: var(--md-sys-color-on-primary-container);
}

.desc-time {
    font-size: 0.9em;
    display: flex;
    align-items: center;
    margin: 0.5em 0 0;
    text-transform: capitalize;
}

.desc-time img {
    height: 1.3em;
}

.location {
    height: auto;
    background-color: var(--md-sys-color-primary);
    display: flex;
    border-radius: 8px;
    padding: 0.4em;
}

.map {
    background-color: #0000009c;
    display: flex;
    position: fixed;
    height: 100vh;
    width: 100vw;
    font-size: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    --ycoor: 12%;
    --xcoor: 23%;
}

.container {
    width: fit-content;
    height: fit-content;
    position: relative;
    display: flex;
    overflow: hidden;
    justify-content: center;
}

.map-image {
width: 100vw;
    border-radius: 16px;
}

.overlay {
    position: absolute;
}

.label {
    top: 60%;
    margin: 0;
    left: 50%;
    color: red;
    transform: translate(-50%, -50%);
}

.dot {
    top: var(--ycoor);
    left: var(--xcoor);
    margin: 0;
    padding: 0;
    transform: translate(-50%, -100%);
    z-index: 2;
    height: 1.5em;
}

.line {
    position: absolute;
    background-color: rgba(255, 0, 0, 0.5);
}

.xline {
    top: var(--ycoor);
    left: 0;
    width: 100%;
    height: 1px;
}

.yline {
    top: 0;
    left: var(--xcoor);
    width: 1px;
    height: 100%;
}

.map-description {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5em;
}

.map-location-detail {
    font-size: 0.8em;
}

.filter-chips {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5em;
    width: 100%;
}

.filter-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.2em;
    width: 100%;
}

.filter-chip {
    background-color: var(--md-sys-color-primary-container);
    border-radius: 20px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 0.5em;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: capitalize;
}

.filter-chip.active {
    background-color: var(--md-sys-color-primary);
    color: var(--md-sys-color-on-primary);
}

.topic {
    position: absolute;
    left: 1em;
    top: 1em;
    font-size: 0.7em;
    background-color: var(--md-sys-color-secondary-container);
    opacity: 0.8;
}

@media (min-width: 600px) {
    #cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1em;
        justify-items: center;
    }

    .card {
        width: 100%;
        overflow: hidden;
        height: 16em;
    }

    
}

@media (min-width: 900px) {
    #cards {
        grid-template-columns: repeat(3, 1fr);
    }

    .map-image {
        width:80vw;
    }
}