:root {
  --md-sys-color-primary: rgb(133 214 193);
  --md-sys-color-surface-tint: rgb(133 214 193);
  --md-sys-color-on-primary: rgb(0 56 46);
  --md-sys-color-primary-container: rgb(0 81 67);
  --md-sys-color-on-primary-container: rgb(161 242 221);
  --md-sys-color-secondary: rgb(177 204 195);
  --md-sys-color-on-secondary: rgb(29 53 47);
  --md-sys-color-secondary-container: rgb(51 75 69);
  --md-sys-color-on-secondary-container: rgb(205 232 223);
  --md-sys-color-tertiary: rgb(170 203 228);
  --md-sys-color-on-tertiary: rgb(16 52 71);
  --md-sys-color-tertiary-container: rgb(42 74 95);
  --md-sys-color-on-tertiary-container: rgb(199 231 255);
  --md-sys-color-error: rgb(255 180 171);
  --md-sys-color-on-error: rgb(105 0 5);
  --md-sys-color-error-container: rgb(147 0 10);
  --md-sys-color-on-error-container: rgb(255 218 214);
  --md-sys-color-background: rgb(14 21 19);
  --md-sys-color-on-background: rgb(222 228 224);
  --md-sys-color-surface: rgb(14 21 19);
  --md-sys-color-on-surface: rgb(222 228 224);
  --md-sys-color-surface-variant: rgb(63 73 70);
  --md-sys-color-on-surface-variant: rgb(191 201 196);
  --md-sys-color-outline: rgb(137 147 143 / 11%);
  --md-sys-color-outline-variant: rgb(63 73 70);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(222 228 224);
  --md-sys-color-inverse-on-surface: rgb(43 50 48);
  --md-sys-color-inverse-primary: rgb(8 107 90);
  --md-sys-color-primary-fixed: rgb(161 242 221);
  --md-sys-color-on-primary-fixed: rgb(0 32 26);
  --md-sys-color-primary-fixed-dim: rgb(133 214 193);
  --md-sys-color-on-primary-fixed-variant: rgb(0 81 67);
  --md-sys-color-secondary-fixed: rgb(205 232 223);
  --md-sys-color-on-secondary-fixed: rgb(6 32 26);
  --md-sys-color-secondary-fixed-dim: rgb(177 204 195);
  --md-sys-color-on-secondary-fixed-variant: rgb(51 75 69);
  --md-sys-color-tertiary-fixed: rgb(199 231 255);
  --md-sys-color-on-tertiary-fixed: rgb(0 30 46);
  --md-sys-color-tertiary-fixed-dim: rgb(170 203 228);
  --md-sys-color-on-tertiary-fixed-variant: rgb(42 74 95);
  --md-sys-color-surface-dim: rgb(14 21 19);
  --md-sys-color-surface-bright: rgb(52 59 56);
  --md-sys-color-surface-container-lowest: rgb(9 15 14);
  --md-sys-color-surface-container-low: rgb(23 29 27);
  --md-sys-color-surface-container: rgb(27 33 31);
  --md-sys-color-surface-container-high: rgb(37 43 41);
  --md-sys-color-surface-container-highest: rgb(48 54 52);
}