@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 100 900;
    font-stretch: 75% 100%;
    src: url('OpenSans.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Amiri';
    font-style: normal;
    font-weight: 400 700;
    src: url('Amiri.ttf') format('truetype');
    font-display: swap;
}